@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --green: #cefa05;
  --white: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.form-inputfield-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  overflow: hidden;
  width: 100%;
  /* transition: height 0.3s ease; */
}

@media (max-width: 600px) {
  .form-inputfield-container {
    flex-direction: column;
  }
}

.single-input-container {
  width: 100%;
  height: 30px;
}

.single-input-container__textarea {
  margin: 0.5rem 0 2rem 0;
  width: 100%;
  height: 6.25rem;
}

.form-inputfield,
select {
  border-bottom: 1px solid var(--green);
  width: 100%;
  background-color: transparent;
  letter-spacing: 0.1rem;
  color: var(--white) !important;
  height: 1.75rem;
  padding: 0 0.5rem;
  font-size: 1rem;
}

.form-inputfield::placeholder,
.form-textarea::placeholder {
  color: var(--white) !important;
  letter-spacing: 0.1rem;
}

.form-textarea {
  border-bottom: 1px solid var(--green);
  border-top: 1px solid var(--green);
  width: 100%;
  background-color: transparent;
  letter-spacing: 0.1rem;
  font-weight: 300;
  color: var(--black);
  height: 6rem;
  padding: 0 0.5rem;
  font-size: 0.85rem;
}

.error-text {
  color: var(--red);
  font-size: 0.85rem;
  padding: 0.25rem 0 0 0.5rem;
}

.primary-button {
  border-radius: 1.25rem;
  color: var(--black);
  border: 1px solid var(--green);
  background-color: var(--green);
  transition: 0.5s;
  width: 100%;
  padding: 0.5rem 0;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.select-button {
  border-radius: 1.25rem;
  color: #ffffff;
  border: 1px solid var(--green);
  transition: 0.5s;
  width: 100%;
  padding: 0.5rem 0;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.select-button:hover {
  color: var(--black);
  background-color: var(--green);
}

.primary-button__disabled {
  border-radius: 1.25rem;
  color: var(--white);
  border: 1px solid var(--green);
  background-color: var(--green);
  transition: 0.5s;
  width: 100%;
  padding: 0.5rem 0;
  letter-spacing: 0.1rem;
  cursor: not-allowed;
}

.primary-button__small:hover,
.primary-button__pill:hover,
.primary-button:hover {
  color: var(--white);
  background-color: transparent;
}
